{
  "env": {
    "browser": true,
    "jasmine": true,
    "es6": true,
    "node": true,
    "jquery": true
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-console": 0
  },
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "globals": {
    "_": true,
    "testForNativeMethods": true,
    "getElementsByClassName": true,
    "parseJSON": true,
    "RobotPaths": true,
    "stringifyJSON": true
  }
}
